//buttons
$primary-button-color: #ffd60a;
$primary-button-color-hover: #ffd60aa0;
$secondary-button-color: #ffffff;

//bg
$home-blue-background: #062949;
$home-background-color: #ecfbff;
$white-color: #ffffff;
$black-color: #000000;

//text colors
$dark-gray-text-color: #464646;
$light-gray-text-color: #817c7c;
$light-gray-text-color-opacity: #817c7c46;
$green-text-color: #1c9b38;
$red-text-color: #ff8383;

//background colors
$background-off-white-color: #f9f9fb;
$background-blue-color: #4c9fc11a;
